# Python
__pycache__/
*.py[cod]
*$py.class
env/
venv/

# Django
db.sqlite3
db.sqlite3-journal
staticfiles/
media/

# Configuration sensible (on ne veut pas push les mots de passe DB)
.env

# macOS system files
.DS_Store